*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-align: center;
    overflow: none;
    font-weight: 500;
}
body{
    height: 100dvh;
    width: 100dvw;
    background: linear-gradient(to right, #1cde91, #2cde91, #32de84, #65ffff, #00FFFF);
}
#canvas{
    /*background-color: skyblue; used for testing*/
    background-image: url("/main/flappyBird/images/flappybirdbg.png");
    /*NOTE: Image dimensions are same as canvas dimensions*/
    /*If canvas size change is needed, image size changes is also required*/
}
#scoreCount{
    color: black;
    font-size: 35px;
    position: absolute;
    left: 40%;
}
#saveScorebtn{
    position: absolute;
    right: 50px;
    top: 30px;
    transition: all 0.4s;
}
#saveScorebtn:hover{
    transform: scale(1.25);
    color: black;
    box-shadow: 5px 5px 15px 15px rgba(0, 0, 0, 0.4);
}