*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
body{
    height: 100dvh;
    width: 100dvw;
    text-align: center;
    background: linear-gradient(to right, #fff, #dadada, whitesmoke, ghostwhite, #8fffff);
}
#canvas{
    background-image: url("/main/doodleJump/images/doodlejumpbg.png");
}